*{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
h2{
    width: 100%;
}


a{
    text-decoration: none;
}

body{
    background: url(C:/Users/DELL/Desktop/ecofood/img/design/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper{
    background-color: white;
    margin: 50px 10%;
    max-width: 2400px;
    padding: 10px 40px;
}

.button{
    background-color: #91ac27;
    border: none;
    padding: 6px 12px;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
}

.button:hover{
    background-color: #629c16;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}

.link{
        color: black;
        margin: 10px 0;
    }

.link:hover{
        color: #91ac27;
        transition: all 0.5s;
    }

    nav > a{
        border-bottom: 2px solid transparent;
        padding: 15px 5px;
        transition: all 0.5s;
    }

nav > a:hover{
        border-bottom: 2px solid green;
        padding: 15px 5px;
        transition: all 0.5s;
    }

    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }


.main{
    background-color: white;
    margin: 50px 10%;
    max-width: 2400px;
    padding: 10px 40px;
    
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


header > section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header > a {
    flex-grow: 4;
}

section{
margin: 50px 0;
}

.products{
display: flex;
flex-wrap: wrap;
}