* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;
}
html {
    font-size: 16px;
}

h2 {
    width: 100%;
    font-size: 0.825rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0 10px 0;
}

h3{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 8px 0;
}


a {
    text-decoration: none;
}

body {
    background: url(C:/Users/DELL/Desktop/ecofood/img/design/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: white;
    margin: 50px 10%;
    max-width: 1024px;
    padding: 60px 40px;
}

.button {
    background-color: #629c16;
    border: none;
    padding: 6px 12px;
    color: white;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
}

.button--wide {
    width: 100%;
}

.button:hover {
    background-color: #629c16;
    transition: all 0.5s;
}

.link {
    color: var(--link-primary);
    transition: all 0.5s;
    margin: 10px 0;
}

.link:hover {
    color: var(--button-primary);
    transition: all 0.5s;
}

nav > .link {
    margin-left: 15px;
    margin-right: 15px;
}

nav > a {
    border-bottom: 2px solid transparent;
    padding: 15px 5px;
    transition: all 0.5s;
}

nav > a:hover {
    border-bottom: 2px solid var(--button-primary);
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header > a {
    flex-grow: 4;
}

hr{
    margin: 50px 0 0 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.products > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-15 {
    margin: 15px 0;
}

.products > article > h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.img-wrapper {
    background-image: url(/C:/Users/DELL/Desktop/ecofood/img/design/empty-bg.jpg);
}

.img-wrapper > form {
    display: flex;
    flex-direction: column;
    padding: 100px 25%;
    gap: 15px;
}

input[type="email"] {
    padding: 4px;
}

.discount {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.discount > span {
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    width: 100%;
}

footer > section > article {
   min-width: 100px;
   margin: 20px;
    width: 300px;
}

.footer-copy-right{
    text-align: center;
    margin: 0 0 10px 0;
}

.social-links > a{
    color: white;
    border: 10px solid black;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    background: black;
    transition: all 0.5s;
    margin: 50px 0;
}

.social-links > a:hover{
    border: 10px solid #91ac27;
    background-color: #91ac27;
}

@media only screen and (max-width:425px) {
    body{
        background: none;
    }

    .wrapper{
        margin: 0;
        padding: 5%;
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }

    header > section{
        width: 100%;
        text-align: center;
        flex-grow: 0;
    }

    header > a{
        margin-bottom: 20px;
        flex-grow: 0;
    }
    nav{
        display: none;
    }
}